<div class="devices-container">
  <div class="devices-header">
    <h2>{{ 'devices.title' | translate }}</h2>
  </div>

  <div class="devices-content">
    <div class="devices-nav">
      <ul>
        <li>
          <a routerLink="/devices/nas" routerLinkActive="active">{{ 'devices.nav.nasDevices' | translate }}</a>
        </li>
        <li>
          <a routerLink="/devices/groups" routerLinkActive="active">{{ 'devices.nav.nasGroups' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="devices-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
