<div class="users-container">
  <div class="users-header">
    <h2>{{ 'users.title' | translate }}</h2>
  </div>

  <div class="users-content">
    <div class="users-nav">
      <ul>
        <li>
          <a routerLink="/users/users"
             routerLinkActive="active">{{ 'users.nav.users' | translate }}</a>
        </li>
        <li>
          <a routerLink="/users/groups"
             routerLinkActive="active">{{ 'users.nav.userGroups' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="users-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
