<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/images/logo.png" alt="Logo">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="user-menu" [class.active]="isUserMenuOpen">
        <div class="user-menu-trigger" (click)="toggleUserMenu()">
          <span class="user-email">sss{{ currentUser?.email }}</span>
          <i class="fas fa-chevron-down"></i>
        </div>
        
        <div class="dropdown-menu" *ngIf="isUserMenuOpen">
          <a class="dropdown-item" routerLink="/settings/change-password">
            <i class="fas fa-key"></i>
            Change Password
          </a>
        </div>
      </div>
    </div>
  </div>
</nav> 